/bin
/target
/project/target
/project/project
/ToolTest/
/.metadata
/.settings
/.tmpbin
/experiment
.project
.classpath
.cache-main
*.class


#Report
Report/report.aux
Report/report.bbl
Report/report.blg
Report/report.fdb_latexmk
Report/report.fls
Report/report.log